<!DOCTYPE html>
<html ng-app="appNoticias">
    <head>       
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>Notícias IFGoiano</title>
    </head>
    <body ng-controller="mainCtrl as main">

    <div id="toolbar-search">

        <div class="containerSearch">
            
               <input id="inputSearch" type="text" name="buscar" ng-model="main.searchUser">

            <div ng-click="main.closeSearch()" class="iconRight">
                <img class="icon" src="./img/ic_close_white_24px.svg">
            </div>
        </div>
    </div>

        <div id="splash">
            <img class="logo" src="assets/logo/LogoIFMorrinhos.png">
        </div>

        <div class="header">Notícias</div>

        <div class="iconSearch" ng-click="main.openSearch()">
            <img class="icon" src="img/ic_search_white_24px.svg">
        </div>  

        <div ng-if="main.noticias" class="card" ng-repeat="noticia in main.noticias  | filter:main.searchUser"" ng-click="main.openInBrowser(noticia.url)">
        
            <div class="title">{{noticia.title}}</div>
            <div class="date">{{noticia.date  | date : format : timezone}}</div>
         
            <div class="text">{{noticia.subtitle}}</div>
                    
            <div class="local">{{noticia.campus}}</div>
        
        </div>

        <div ng-if="!main.noticias" class="card black">
            <div class="title">Nenhuma noticia encontrada!</div>
            <div class="text">Desculpe nenhuma noticia foi encontrada! Por favor, verifique sua conexão com a internet e reinicie o aplicativo!</div>
        </div>

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>
