<!DOCTYPE html>
<html ng-app="appNoticias">
    <head>       
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>Notícias IFGoiano</title>
    </head>
    <body ng-controller="mainCtrl as main">

        <div id="splash">
            <img class="logo" src="assets/icon/icon.png">
        </div>

        <div class="header">Notícias</div>   

        <div ng-if="noticias" class="card" ng-repeat="noticia in noticias" ng-click="openInBrowser(noticia.url)">
        
            <div class="title">{{noticia.title}}</div>
            <div class="date">{{noticia.date  | date : format : timezone}}</div>
         
            <div class="text">{{noticia.subtitle}}</div>
                    
            <div class="local">{{noticia.campus}}</div>
        
        </div>


        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>
