body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    margin:0px;
    padding:0px;
    font-family: 'DroidSans', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #EEE;

}

@font-face {
    font-family: DroidSans;
    src: local(../assets/fonts/DroidSans.ttf);
}

@font-face {
    font-family: DroidSansBold;
    src: local(../assets/fonts/DroidSans-Bold.ttf);
}

.header{
    width: 100%;
    height: 60px;
    background-color: #F44336;
    color: #FFF;
    font-size: 1.4em;
    text-indent: 30px;
    line-height: 60px;
    top: 0px;
    position: fixed;
    z-index: 3;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.3);
}

.iconSearch{
    z-index: 5;
    display: block;
    position: fixed;
    right: 0;
    height: 60px;
    width: 50px;
}

.iconSearch > .icon{
    width: 70%;
    height: 70%;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    
}

.card{
    min-height: 50px;
    background-color: #FFF;
    position: relative;
    margin: auto;
    border-radius: 3px;
    top: 70px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.2);
}

@media screen and (max-width: 399px) {

    .card{
        width: 95%;
    }
 
}

@media screen and (min-width: 400px) and (max-width: 649px) {

    .card{
        width: 90%;
    }
 
}

@media screen and (min-width: 650px) {

    .card{
        width: 600px;
    }
 
}

.card > .title{
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.1em;
    font-weight: bold;
    box-sizing: border-box;

}

.card > .date{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.7em;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card > .text{
    width: 100%;
    padding: 10px;
    font-size: 1em;
    text-align: justify;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card > .local{
    width: 100%;
    height: 30px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFF;
    box-sizing: border-box;
    background-color: #79D62C;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

#splash{
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    background-color: #FFF;
}

#splash > .logo{
    width: 350px;
    position:absolute;
    top:40%;
    left:50%;
    margin-top:-40px;
    margin-left:-175px;
}

#toolbar-search{
    display: none;
    width: 100%;
    position: fixed;
    z-index: 6;

}

#toolbar-search > .containerSearch{
    height: 60px;
    position: fixed;
    background-color: #F44336;
    z-index: 5;
    left: 0;
    right: 0;
    box-sizing: border-box;
    border-radius: 1px;
}

#inputSearch{
    width: calc(100% - 65px);
    background-color: #F44336;
    height: 58px;
    color: #fff;
    margin: auto;
    font-size: 1em;
    border: 0px;
    margin-left: 15px;
}

#inputSearch:focus{
    outline: none;
}

.containerSearch > .iconRight{
    height: 100%;
    width: 50px;
    float: right;
}

.iconRight > .icon{
    width: 50%;
    height: 50%;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}
